body {
    background-color: #EFEFEF;
}

.content-box {
    margin-bottom: 10px;
    clear: both;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-width: 1px 0;
}

    .content-box.border-bottom {
        border-bottom: 1px solid #e7eaec !important;
    }

.forum-container, .forum-post-container {
    padding: 30px !important;
}

    .forum-container .title {
        margin: 15px 0 15px 0;
    }

.forum-subject {
    margin: 10px 0;
    padding: 10px 0 20px 20px;
    border-bottom: 1px solid #f1f1f1;
    color: #9b9b9b;
}

    .forum-subject:hover {
        background: #F1F1F1;
    }

    .forum-subject .icon {
        font-size: 30px;
        float: left;
        width: 50px;
        /*text-align: center;*/
    }

    .forum-subject h4 {
        margin-left: 50px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .forum-subject .meta {
        margin-top: 5px;
        margin-left: 35px;
    }

        .forum-subject .meta i {
            margin-left: 15px;
        }

    .forum-subject .info {
        float: right;
    }

        .forum-subject .info .info-count {
            text-align: center;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            display: inline-block;
        }

            .forum-subject .info .info-count span:first-child {
                font-size: 24px;
                line-height: 18px;
                font-weight: 400;
                color: #676a6c;
            }

            .forum-subject .info .info-count span:last-child {
                display: block;
                color: #999;
                font-size: 85%;
            }

.forum-header {
    padding: 10px;
}

    .forum-header .icon {
        color: #1ab394;
        font-size: 66px;
        margin-right: 20px;
        float: left;
        height: 66px;
    }

        .forum-header .icon i {
            vertical-align: top;
        }

    .forum-header h3 {
        font-weight: 100;
        margin-top: 5px;
        color: #676a6c;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

.content-breadcrumb {
    padding: 10px 20px 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #E7EAEC;
}

    .content-breadcrumb .breadcrumb {
        padding: 0;
        margin: 0;
        background: none;
    }

.forum-container .media {
    margin-top: 0;
    border-top: 1px solid #E7EAEC;
}

.forum-container .media-left, .forum-container .date {
    font-size: 12px;
}

.forum-container .media-left {
    /*text-align: center;*/
    padding: 10px 10px 10px 0;
}

.forum-container .media-object {
    width: 150px;
    height: 150px;
}

.forum-container .date {
    color: #676a6c;
    padding-top: 2px;
}

.forum-container .media-heading {
    margin-bottom: 15px;
}

.forum-container .media-meta {
    margin-left: -15px;
    border-bottom: solid 1px #E7EAEC;
    padding: 5px 15px;
    margin-bottom: 15px;
}

    .forum-container .media-meta .date i {
        margin-left: 15px;
    }

.forum-container .media-info {
    text-align: left;
}

.forum-container .media-body {
    padding-left: 15px;
    padding-bottom: 15px;
    border-left: 1px solid #E7EAEC;
}

.forum-container .media-avatar {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

    .forum-container .media-avatar .media-reputation, .forum-container .media-avatar .media-comments {
        position: absolute;
        bottom: 0;
        background: #fff;
        padding: 1px 6px;
        font-weight: bold;
    }

    .forum-container .media-avatar .media-comments {
        left: 0;
        border-top-right-radius: 3px;
    }

    .forum-container .media-avatar .media-reputation {
        right: 0;
        text-align: right;
        border-top-left-radius: 3px;
    }

.forum-container .media-stack {
    text-align: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
}

    .forum-container .media-stack span:first-child {
        color: #8899a6;
        font-size: 10px;
        letter-spacing: .02em;
        overflow: hidden;
        text-transform: uppercase;
    }

    .forum-container .media-stack span:last-child {
        display: block;
        font-size: 14px;
    }
